html,body{
	margin: 0;
	padding: 0;
	touch-action: none;
	-webkit-tap-highlight-color: rgba(255,0,0,0); 
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.clearfix:after{
	display: block;
	clear: both;
	content: "";
	height: 0;
	visibility: none;
}
#canvas{
	border: 1px solid #ccc; 
	display: block; 
	margin: 20px auto;
}
.container{
	padding: 20px 20px 0;
}
.container ul{
	margin-left: -20px;
}
.container li{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-left: 20px;
}
.container li img{
	display: block;
	width: 100%;
	/* filter: sepia(0.5); */
}
.controller{
	margin: 50px 0 0;
	text-align: center;
}
.controller span{
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1;
	cursor: pointer;
	border: 1px solid #ccc;
}
.controller span:hover{
	background: #eee;
}
.controller span.on{
	border: 1px solid pink;
}
.controller span + span{
	margin-left: 5px;
}
.range{
	width: 50%;
	float: right;
	position: relative;
}
.range input[type=range]{
	display: none;
	position: absolute;
	width: 200px;
	height: 20px;
	left: 0;
	bottom: -30px;
	z-index: 99;
}
@media screen and (max-width: 767px){
.container{
	position: relative;
	padding: 100px 0 0;
}
.container ul{
	margin-left: 0;
}
.container li{
	float: none;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0;
	margin-bottom: 10px;
}
#left{
	display: none;
}
.range{
	width: 200px;
	margin: 0 auto;
	float: none;
	position: relative;
}
.range input[type=range]{
	display: none;
	position: absolute;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: -40px;
	z-index: 99;
}
.controller{
	margin: 0;
	padding: 5px 5px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
}
.controller span{
	display: inline-block;
	text-align: center;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1;
	cursor: pointer;
	border: 1px solid #ccc;
	margin: 3px 2px;
}
.controller span:hover{
	background: #eee;
}
.controller span.on{
	border: 1px solid pink;
}
.controller span + span{
	margin-left: 0;
}
}
